:root {
  --color-cafe: #bf8f37;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-image: url("./images/wall.jpg");
  background-repeat: repeat;
  background-size: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden  ;
}


/* Pantalla PC*/
@media(min-width:1001px) {
p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}


.container {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;

  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  /* overflow-y: hidden; */

  .frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.invitacion-mensaje {
 
  display: flex;
  flex-direction: column;

  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-family: "AbhayaLibre", serif;

  font-size: 20px;

  justify-content: center;
  align-items: center;

  width: 700px;
   height: fit-content;
   max-height: 50% ;
  img {
    height: 35%;
    display: flex;
    align-self: center;
  }
}

.invitacion-form {
  width: 400px ;

  display: flex;
  flex-direction: column;
  color: black;
  font-family: "AbhayaLibre", serif;
  
  padding-inline: 8rem;

  
  label {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
  }

  input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--color-cafe);
    border-radius: 4px;
    font-size: 16px;
    font-family: "AbhayaLibre", serif;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--color-cafe);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  font-family: "CarlaSans", sans-serif;
  box-shadow: 1px 2px 2px rgba(191, 143, 55, 0.2);
}

#modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: "AbhayaLibre", serif;
  font-weight: normal;
  overflow: hidden;

  #modal-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);


  }

  #modal-noregistrado {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 40%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);
  }


  #modal-verificando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 40%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);
  }

  .titulo {
      display: flex;
      align-self: center;

      height: 20%;
      width: auto;
    }

  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  #modal-gracias {
    color: black;
    font-weight: bold;
    font-size: 22px;
  }

  #preview {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #qrcode {
    padding: 8px;
    background: #fff;
    border: 1px solid #ddd;
  }


  #info-ticket {
      display: flex;
      flex-direction: column ;
      width: 100% ;

      #info-ticket-detalles{
        display: flex ;
        flex-direction: row;
        width: 100% ;
        gap: 5px;
        justify-content: center ;
        align-items: center ;

        #fecha{
          border-right: #bf8f30 1px solid ;
          padding-right: 5px;
          width: 40%;
          h3{
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p{
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }

        #hora{
          border-right: #bf8f37 1px solid   ;
          padding-right: 5px;
          
          p{
            padding: 0%;
            margin: 0%;
            font-size: 1.5rem;
          }

        }

        #dresscode{
          width: 40%;
          h3{
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p{
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }
      }
    }




  button {
    margin-top: 12px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 2px 3px var(--color-cafe);
    border: none;
    background: var(--color-cafe);
    color: #fff;
    font-size: 16px;
    font-family: "CarlaSans", sans-serif;
    align-self: center;
    justify-self: center;
  }

}
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1000px){}


/* Pantalla CELULAR*/
@media(max-width:700px){

p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}


.container {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;

  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  /* overflow-y: hidden; */

  .frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.invitacion-mensaje {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-family: "AbhayaLibre", serif;

  font-size: 18px;

  justify-content: center;
  align-items: center;

  padding-inline: 2.5rem;

  img {
    width: 35%;
    display: flex;
    align-self: center;
  }
}

.invitacion-form {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "AbhayaLibre", serif;
  
  padding-inline: 2.5rem;

  
  label {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
  }

  input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--color-cafe);
    border-radius: 4px;
    font-size: 16px;
    font-family: "AbhayaLibre", serif;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--color-cafe);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  font-family: "CarlaSans", sans-serif;
  box-shadow: 1px 2px 2px rgba(191, 143, 55, 0.2);
}

#modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: "AbhayaLibre", serif;
  font-weight: normal;
  overflow: hidden;

  #modal-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);


  }

  #modal-noregistrado {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 40%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);
  }


  #modal-verificando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 40%;
    border-radius: 8px;
    text-align: center;
    color: var(--color-cafe);
  }

  .titulo {
      display: flex;
      align-self: center;

      height: 20%;
      width: auto;
    }

  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  #modal-gracias {
    color: black;
    font-weight: bold;
    font-size: 22px;
  }

  #preview {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #qrcode {
    padding: 8px;
    background: #fff;
    border: 1px solid #ddd;
  }


  #info-ticket {
      display: flex;
      flex-direction: column ;
      width: 100% ;

      #info-ticket-detalles{
        display: flex ;
        flex-direction: row;
        width: 100% ;
        gap: 5px;
        justify-content: center ;
        align-items: center ;

        #fecha{
          border-right: #bf8f30 1px solid ;
          padding-right: 5px;
          width: 40%;
          h3{
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p{
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }

        #hora{
          border-right: #bf8f37 1px solid   ;
          padding-right: 5px;
          
          p{
            padding: 0%;
            margin: 0%;
            font-size: 1.5rem;
          }

        }

        #dresscode{
          width: 40%;
          h3{
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p{
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }
      }
    }














  button {
    margin-top: 12px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 2px 3px var(--color-cafe);
    border: none;
    background: var(--color-cafe);
    color: #fff;
    font-size: 16px;
    font-family: "CarlaSans", sans-serif;
    align-self: center;
    justify-self: center;
  }

}
}