body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    color: #fff;
    background-color: #0e4b3b;
    position: absolute;
    top: 0  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitacion-mensaje{
    text-align: center;
    margin-bottom: 20px;
}

.invitacion-form{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #fff;
    color: #0e4b3b;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}


#modal{

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;

    .modal-content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 8px;
        text-align: center;
        color: #0e4b3b;
    }

    #preview { margin-top: 16px; display: flex; flex-direction: column; gap: 16px; align-items: center; }
    #qrcode { padding: 8px; background: #fff; border: 1px solid #ddd; }
    button { margin-top: 12px; padding: 8px 12px; cursor: pointer; border-radius: 4px; border: none; background:#0e4b3b; color:#fff; font-size:16px; }
    .row { display:flex; gap:10px; }
    .row > * { flex: 1; }
    small { color:#555; }




}