:root {
  --color-cafe: #bf8f37;
  --font-AbhayaLibre: "AbhayaLibre", serif;
  --font-CarlaSans: "CarlaSans", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-image: url("./images/wall.webp");
  background-repeat: repeat;
  background-size: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul {
  text-align: left;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.4rem;

  list-style-type: "✔ ";
}

b {
  font-weight: bold;
}

.cursiva{
  font-weight: semibold;
  font-size: larger;
}

/*ACCORDION*/

.accordion {
  max-width: 600px;
  margin: auto;
  font-family: var(--font-AbhayaLibre);
  border: 1px solid var(--color-cafe);
  box-shadow: 1px 2px 3px rgba(191, 143, 55, 0.2);
}

details {
  border-bottom: 1px solid #ddd;
  padding: 0px 0;
}

summary {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  list-style: none; /* quita el triángulo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details p {
  margin: 10px 0 0 0;
}

/*ACCORDION*/

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--color-cafe);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  font-family: var(--font-CarlaSans);
  box-shadow: 1px 2px 3px rgba(191, 143, 55, 0.4);
  
}

/* Pantalla PC*/
@media (min-width: 1001px) {
  p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .container {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;

    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;

    /* overflow-y: hidden; */

    .frame {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .invitacion-mensaje {
    display: block;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    top: 0px;
    overflow-y: scroll;

    text-align: center;
    color: black;
    font-family: var(--font-AbhayaLibre);

    font-size: 18px;

    justify-content: center;
    align-items: center;

    padding-inline: 8.5rem;
    img {
      height: 35%;
      display: flex;
      align-self: center;
      margin-inline: auto;
    }

    .invitacion-form {
      display: flex;
      flex-direction: column;
      color: black;
      font-family: "AbhayaLibre", serif;

      padding-inline: 2.5rem;
      align-self: center;
      align-items: center;
      justify-content: center;
      
      margin-bottom: 2rem;

      label {
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
      }

      input {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid var(--color-cafe);
        border-radius: 4px;
        font-size: 16px;
        font-family: "AbhayaLibre", serif;
      }
    }
  }

  #modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "AbhayaLibre", serif;
    font-weight: normal;
    overflow: hidden;

    #modal-content {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 90%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-noregistrado {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-verificando {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    .titulo {
      display: flex;
      align-self: center;

      height: 20%;
      width: auto;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 18px;
    }

    #modal-gracias {
      color: black;
      font-weight: bold;
      font-size: 22px;
    }

    #preview {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #qrcode {
      padding: 8px;
      background: #fff;
      border: 1px solid #ddd;
    }

    #info-ticket {
      display: flex;
      flex-direction: column;
      width: 100%;

      #info-ticket-detalles {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        justify-content: center;
        align-items: center;

        #fecha {
          border-right: #bf8f30 1px solid;
          padding-right: 5px;
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }

        #hora {
          border-right: #bf8f37 1px solid;
          padding-right: 5px;

          p {
            padding: 0%;
            margin: 0%;
            font-size: 1.5rem;
          }
        }

        #dresscode {
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }
      }
    }

    button {
      margin-top: 12px;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 1px 2px 3px var(--color-cafe);
      border: none;
      background: var(--color-cafe);
      color: #fff;
      font-size: 16px;
      font-family: "CarlaSans", sans-serif;
      align-self: center;
      justify-self: center;
    }
  }
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1000px) {
  p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .container {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;

    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;

    /* overflow-y: hidden; */

    .frame {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .invitacion-mensaje {
    display: block;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    top: 0px;
    overflow-y: scroll;

    text-align: center;
    color: black;
    font-family: var(--font-AbhayaLibre);

    font-size: 18px;

    justify-content: center;
    align-items: center;

    padding-inline: 6rem;

    img {
      width: 35%;
      display: flex;
      align-self: center;
      margin-inline: auto;
    }

    .invitacion-form {
      display: flex;
      flex-direction: column;
      color: black;
      font-family: "AbhayaLibre", serif;
      align-items: center;
      justify-content: center;

      padding-inline: 2.5rem;
      margin-bottom: 2rem;

      label {
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
      }

      input {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid var(--color-cafe);
        border-radius: 4px;
        font-size: 16px;
        font-family: var(--font-AbhayaLibre);
        width: 400px;
      }
    }
  }

  #modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: var(--font-AbhayaLibre);
    font-weight: normal;
    overflow: hidden;

    #modal-content {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 90%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-noregistrado {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-verificando {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    .titulo {
      display: flex;
      align-self: center;

      height: 20%;
      width: auto;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 18px;
    }

    #modal-gracias {
      color: black;
      font-weight: bold;
      font-size: 22px;
    }

    #preview {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #qrcode {
      padding: 8px;
      background: #fff;
      border: 1px solid #ddd;
    }

    #info-ticket {
      display: flex;
      flex-direction: column;
      width: 100%;

      #info-ticket-detalles {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        justify-content: center;
        align-items: center;

        #fecha {
          border-right: #bf8f30 1px solid;
          padding-right: 5px;
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }

        #hora {
          border-right: #bf8f37 1px solid;
          padding-right: 5px;

          p {
            padding: 0%;
            margin: 0%;
            font-size: 1.5rem;
          }
        }

        #dresscode {
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }
      }
    }

    button {
      margin-top: 12px;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 1px 2px 3px var(--color-cafe);
      border: none;
      background: var(--color-cafe);
      color: #fff;
      font-size: 16px;
      font-family: "CarlaSans", sans-serif;
      align-self: center;
      justify-self: center;
    }
  }
}

/* Pantalla CELULAR*/
@media (max-width: 700px) {
  p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .container {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;

    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;

    /* overflow-y: hidden; */

    .frame {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .invitacion-mensaje {
    display: block;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    top: 0px;
    overflow-y: scroll;

    text-align: center;
    color: black;
    font-family: var(--font-AbhayaLibre);

    font-size: 18px;

    justify-content: center;
    align-items: center;

    padding-inline: 3rem;

    img {
      width: 35%;
      display: flex;
      align-self: center;
      margin-inline: auto;
    }

    .invitacion-form {
      display: flex;
      flex-direction: column;
      color: black;
      font-family: "AbhayaLibre", serif;

      padding-inline: 2.5rem;
        margin-bottom: 1rem;

      label {
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
      }

      input {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid var(--color-cafe);
        border-radius: 4px;
        font-size: 16px;
        font-family: "AbhayaLibre", serif;
      }

      button {
        margin-bottom: 0.5rem;
      }
    }
  }

  #modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "AbhayaLibre", serif;
    font-weight: normal;
    overflow: hidden;

    #modal-content {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 90%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-noregistrado {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    #modal-verificando {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 40%;
      border-radius: 8px;
      text-align: center;
      color: var(--color-cafe);
    }

    .titulo {
      display: flex;
      align-self: center;

      height: 20%;
      width: auto;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 18px;
    }

    #modal-gracias {
      color: black;
      font-weight: bold;
      font-size: 22px;
    }

    #preview {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #qrcode {
      padding: 8px;
      background: #fff;
      border: 1px solid #ddd;
    }

    #info-ticket {
      display: flex;
      flex-direction: column;
      width: 100%;

      #info-ticket-detalles {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        justify-content: center;
        align-items: center;

        #fecha {
          border-right: #bf8f30 1px solid;
          padding-right: 5px;
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }

        #hora {
          border-right: #bf8f37 1px solid;
          padding-right: 5px;

          p {
            padding: 0%;
            margin: 0%;
            font-size: 1.5rem;
          }
        }

        #dresscode {
          width: 40%;
          h3 {
            padding: 0%;
            margin: 0%;
            font-size: 2rem;
          }

          p {
            padding: 0%;
            margin: 0%;
            font-size: 0.8rem;
          }
        }
      }
    }

    button {
      margin-top: 12px;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 1px 2px 3px var(--color-cafe);
      border: none;
      background: var(--color-cafe);
      color: #fff;
      font-size: 16px;
      font-family: "CarlaSans", sans-serif;
      align-self: center;
      justify-self: center;
    }
  }
}
